/* Algemeen */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  height: 100%;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  min-height: 8vh;
  background-color: #03425C;
  z-index: 30;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #000000;
}

@media screen and (min-width:900px) {
  .nav-links a:hover {
    background: #ffffff;
  }
  .nav-links a {
    padding: 20px;
    display: inline-block;
  }
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1200px) {
  .nav-links {
    width: 80%;
    font-size: 5px;
  }
}

@media screen and (max-width:1200px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width:900px) {
  .logo {
    display: inline;
  }
}

@media screen and (max-width:900px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: #03425C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 1;
    text-align: center;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-links li a {
    margin: 60px 0px;
    display: inline-block;
    padding: 20px;
  }
  .nav-links li a:hover {
    background-color: white;
  }
}

.nav-active {
  transform: translateX(0%);
  opacity: 1;
  display: inline-block;
  padding: 10px;
  width: 50%;
  z-index: 30;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Tekst */

.container {
  text-align: center;
  position: relative;
  color: #000000;
  border-top: 5px solid black;
  background-color: #efefef;
  height: 1000px;
  z-index: 1;
  min-height: 1000px;
}

@media screen and (max-width:675px) {
  .container {
    height: 1200px;
  }
}

.tekst {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.3vw;
  z-index: -1;
  overflow: hidden;
  opacity: 1;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width:1000px) {
  .tekst h1 {
    font-size: 20px;
  }
  .tekst p {
    font-size: 15px;
    text-align: justify;
  }
  .tekst {
    top: 500px;
  }
}

@media screen and (min-width:1200px) {
  .tekst {
    top: 500px;
  }
  .tekst h1 {
    font-size: 25px;
  }
  .tekst p {
    font-size: 18.5px;
    text-align: justify;
  }
}

@media screen and (min-width:1400px) {
  .tekst {
    top: 500px;
  }
  .tekst h1 {
    font-size: 30px;
  }
  .tekst p {
    font-size: 22.5px;
    text-align: justify;
  }
}

@media screen and (max-width:1000px) {
  .tekst {
    top: 500px;
  }
  .tekst h1 {
    font-size: 15px;
  }
  .tekst p {
    font-size: 10px;
    text-align: justify;
  }
}

@media screen and (max-width:800px) {
  .tekst {
    top: 500px;
  }
  .tekst h1 {
    font-size: 10px;
  }
  .tekst p {
    font-size: 5px;
    text-align: justify;
  }
}

@media screen and (max-width:675px) {
  .tekst {
    top: 550px;
  }
}

@media screen and (max-width:540px) {
  .tekst {
    top: 600px;
  }
}

@media screen and (max-width:450px) {
  .tekst {
    top: 720px;
  }
  .container {
    height: 1500px;
  }
}

@media screen and (max-width:360px) {
  .tekst {
    top: 900px;
  }
  .container {
    height: 1700px;
  }
}

@media screen and (max-width:310px) {
  .container {
    height: 2000px;
  }
}

.tekst h1 {
  font-size: 20px;
  text-decoration: underline;
}

.tekst p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.6;
}

span {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 1.5px;
}

/* Afbeelding 1 */

.plaatje {
  margin: 30px 0px;
  width: 100%;
  height: auto;
  border: 3px solid black;
  border-radius: 15px;
}

@media screen and (max-width:1000px) {
  .plaatje {
    display: block;
    width: 100%;
  }
}

/* Footer */

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #03425C;
  padding: 20px;
  border-top: 5px solid black;
}

.social {
  color: rgb(226, 226, 226);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  justify-content: center;
}

#titel {
  text-align: center;
}

.icons {
  background-color: #03425C;
  display: flex;
  justify-content: space-between;
  margin: 40px 400px 40px 450px;
}

@media screen and (max-width: 1300px) {
  .icons {
    margin: 30px 300px 30px 350px;
  }
}

@media screen and (max-width: 1100px) {
  .icons {
    margin: 30px 200px 30px 250px;
  }
  .footer {
    top: 100px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  .icons {
    margin: 30px 100px 30px 150px;
  }
  .instagram {
    float: left;
    width: 70%;
  }
  .twitter {
    float: left;
    width: 70%;
  }
  .youtube {
    float: left;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .icons {
    margin: 30px 50px 30px 100px;
  }
}

.instagram {
  float: left;
  width: 50%;
}

.twitter {
  float: left;
  width: 50%;
}

.youtube {
  float: left;
  width: 50%;
}

.instagram:hover {
  opacity: 0.8;
}

.twitter:hover {
  opacity: 0.8;
}

.youtube:hover {
  opacity: 0.8;
}

/* Machine Learning */

/* Film */

.film {
  position: relative;
  width: 70%;
  padding-bottom: 56.25%;
  height: 0;
  margin-left: 22%;
}

.film iframe {
  position: absolute;
  top: 40px;
  left: 0;
  width: 80%;
  height: 80%;
  max-height: 700px;
}

/* Tekst ML */

.ml-tekst {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.3vw;
  z-index: -1;
  overflow: hidden;
  opacity: 1;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width: 1200px) {
  .ml-tekst {
    top: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  .ml-tekst {
    top: 1000px;
  }
  .ml-footer {
    top: 650px;
  }
}

@media screen and (max-width: 1100px) {
  .ml-tekst {
    top: 800px;
  }
}

@media screen and (max-width: 1300px) {
  .ml-tekst {
    top: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .film iframe {
    top: 80px;
  }
  .container {
    height: 1000px;
  }
  .ml-footer {
    margin-top: 20px;
  }
}

.ml-tekst h1 {
  font-size: 20px;
  text-decoration: underline;
}

.ml-tekst p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.6;
}

.ml-footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #03425C;
  padding: 20px;
  border-top: 5px solid black;
  top: 400px;
}